<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/blog-old-ie.css') }}">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/blog.css') }}">
<!--<![endif]-->

    <script>
        var resume_url = "{{ url_for('static', filename='resume.json') }}"
    </script>
    
    <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/handlebars.runtime-v3.0.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/templates.js') }}"></script>
    <script src="{{ url_for('static', filename='js/2html.js') }}"></script>

    <title>Resume</title>    
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header" id="mainsection"></div>
        <div class="submenu">
            <p>
                <!-- resume/printable/ -->
                <a href="{{ url_for('resume.printable_resume') }}">Printable version</a> - <a href="../static/resume.json">JSON Resume</a>
            </p>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div class="posts">
            <section class="post" id="summary"></section>
            <section class="post" id="skills"></section>
            <section class="post" id="works"></section>
            <section class="post" id="volunteer"></section>
            <section class="post" id="education"></section>
            <section class="post" id="projects"></section>
            <section class="post" id="basic-information"></section>
            <section class="post" id="interests"></section>
        </div>
    </div>
</div>    
</body>
</html>